<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	
	<!-- Spring配置文件的位置  -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/spring-*.xml</param-value>
	</context-param>
	
	<!-- 加载Spring容器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 统一编码为UTF-8 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<!-- ***************Realtime接口***************  -->
	<servlet>
		<servlet-name>mohMultiServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mohMultiServlet</servlet-name>
		<url-pattern>/interface/realtime/moh/multi</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>mohSingleServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mohSingleServlet</servlet-name>
		<url-pattern>/interface/realtime/moh/single</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>endpointMultiServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>endpointMultiServlet</servlet-name>
		<url-pattern>/interface/realtime/endpoint/multi</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>endpointSingleServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>endpointSingleServlet</servlet-name>
		<url-pattern>/interface/realtime/endpoint/single</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>identifyMultiServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>identifyMultiServlet</servlet-name>
		<url-pattern>/interface/realtime/identify/multi</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>identifySingleServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>identifySingleServlet</servlet-name>
		<url-pattern>/interface/realtime/identify/single</url-pattern>
	</servlet-mapping>
	
	<!-- ***************IVR接口***************  -->
	<servlet>
		<servlet-name>checkBlackListServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkBlackListServlet</servlet-name>
		<url-pattern>/interface/ivr/CheckBlackList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>curlServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>curlServlet</servlet-name>
		<url-pattern>/interface/ivr/Curl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>decryptBase64DESServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>decryptBase64DESServlet</servlet-name>
		<url-pattern>/interface/ivr/decryptBase64DES</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>formatRDNISServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>formatRDNISServlet</servlet-name>
		<url-pattern>/interface/ivr/FormatRDNIS</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getAreaCodeServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getAreaCodeServlet</servlet-name>
		<url-pattern>/interface/ivr/GetAreaCode</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getClidServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getClidServlet</servlet-name>
		<url-pattern>/interface/ivr/GetClid</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getHangupSetServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getHangupSetServlet</servlet-name>
		<url-pattern>/interface/ivr/GetHangupSet</url-pattern>
	</servlet-mapping>

	<!-- 获取满意度调查接口 -->
	<servlet>
		<servlet-name>getInvestigationServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getInvestigationServlet</servlet-name>
		<url-pattern>/interface/ivr/GetInvestigation</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getIvrDbServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getIvrDbServlet</servlet-name>
		<url-pattern>/interface/ivr/GetIvrDb</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getIvrNodeServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getIvrNodeServlet</servlet-name>
		<url-pattern>/interface/ivr/GetIvrNode</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getIvrOptionServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getIvrOptionServlet</servlet-name>
		<url-pattern>/interface/ivr/GetIvrOption</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getPastCalleeServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getPastCalleeServlet</servlet-name>
		<url-pattern>/interface/ivr/GetPastCallee</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getQueueRememberServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getQueueRememberServlet</servlet-name>
		<url-pattern>/interface/ivr/GetQueueRemember</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getPrePostServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getPrePostServlet</servlet-name>
		<url-pattern>/interface/ivr/GetPrePost</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getTelSetServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getTelSetServlet</servlet-name>
		<url-pattern>/interface/ivr/GetTelSet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>isClidValidServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>isClidValidServlet</servlet-name>
		<url-pattern>/interface/ivr/IsClidValid</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>isTelNumberServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>isTelNumberServlet</servlet-name>
		<url-pattern>/interface/ivr/IsTelNumber</url-pattern>
	</servlet-mapping>

	<!-- 设置满意度调查接口 -->
	<servlet>
		<servlet-name>saveInvestigationServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>saveInvestigationServlet</servlet-name>
		<url-pattern>/interface/ivr/SetInvestigation</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ttsSendGetServlet</servlet-name>
		<servlet-class>com.tinet.ctilink.web.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ttsSendGetServlet</servlet-name>
		<url-pattern>/interface/ivr/TtsSendGet</url-pattern>
	</servlet-mapping>

</web-app>
